body{
    padding: 0px;
    margin: 0px;
    text-align: center;
    }
    .panel {
        background-image: url(tocopanel.jpg);
        background-size: 100% 100%;
        height: 0%;
        padding-bottom: 30%;
    }
    .panel>img{
        width: 25%;
        float: left;
        margin-top: 22%;
        margin-left: 3%;
    }
    .menu{
        font-size: 30;
        font-variant: small-caps;
        background-color: orangered;
        line-height: 2;
        color: white;
    }
    .menu>a:link{
        text-decoration: none;
        color: white;
    }
    .menu>a:hover{
        text-decoration:underline;
        color: white;
    }
    .menu>a:visited{
        text-decoration:underline;
        color: white;
    }
    .menu>a:active{
        text-decoration:underline;
        color: white;
    }
    iframe[name=TrangChu]{
        width: 80%;
        height: 780px;
        float: left;
    }
    .footer img{
        width: 100%;
        border-top: double 5px burlywood;
        clear: both;
        margin-top: 30px;
    }
    .noidung{
        max-height: 70%;
    }